SUPABASE_URL= https://tchhifqiaoxvzrqmexmr.supabase.co
SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRjaGhpZnFpYW94dnpycW1leG1yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkzOTk0OTIsImV4cCI6MjEwNDk3NTQ5Mn0.TYlZs_eTiCbJy3xg0T-3nZb_quAWBw2CIUI-oPBKtHE
SUPABASE_SERVICE_ROLE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRjaGhpZnFpYW94dnpycW1leG1yIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTM5OTQ5MiwiZXhwIjoyMTA0OTc1NDkyfQ.uBblh8UtqJwIQph1QnpPmTNJE4FO4wzFZ0sn89C-z5Y
LLM_API_KEY=
LLM_API_BASE_URL=
